<!--begin::Menu-->
<div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px" data-kt-menu="true" id="kt_menu_notifications">
<!--begin::Heading-->
<div class="d-flex flex-column bg-light-primary rounded-top px-9 py-10">
<!--begin::Title-->
<h3 class="text-gray-900 fw-semibold mb-3">Bildirimler</h3>
<!--end::Title-->
</div>
<!--end::Heading-->

<!--begin::Tab content-->
<div class="scroll-y mh-325px my-5 px-8">
<!--begin::Empty state-->
<div class="text-center py-10">
<div class="mb-5">
{{ theme.getIcon('notification-status', 'fs-3x text-gray-400') | raw }}
</div>
<div class="text-gray-700 fw-semibold fs-6 mb-2">Bildirim Yok</div>
<div class="text-gray-500 fs-7">Yeni bildirimler burada görünecek</div>
</div>
<!--end::Empty state-->
</div>
<!--end::Tab content-->
</div>
<!--end::Menu-->
