<!--begin::Header-->
<div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">
	<!--begin::Header container-->
	<div class="app-container container-fluid d-flex align-items-stretch justify-content-between" id="kt_app_header_container">
		<!--begin::Sidebar mobile toggle-->
		<div class="d-flex align-items-center d-lg-none ms-n3 me-1 me-md-2" title="Menüyü göster">
			<div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_sidebar_mobile_toggle">
				<i class="ki-duotone ki-abstract-14 fs-2 fs-md-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
			</div>
		</div>
		<!--end::Sidebar mobile toggle-->
		<!--begin::Mobile logo-->
		<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
			<a href="{{ path('admin_dashboard') }}" class="d-lg-none d-flex align-items-center">
				{{ theme.getIcon('connect', 'fs-2 text-primary') | raw }}
				<span class="ms-2">
					<span class="text-primary fw-bold fs-4">Entegre</span><span class="text-gray-800 fw-bold fs-4">HUB</span>
				</span>
			</a>
		</div>
		<!--end::Mobile logo-->
		<!--begin::Header wrapper-->
		<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
			{% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/header/_menu/_menu.html.twig" %}
			{% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/header/_navbar.html.twig" %}
		</div>
		<!--end::Header wrapper-->
	</div>
	<!--end::Header container-->
</div>
<!--end::Header-->
