<!--begin::Page title-->
<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
	<!--begin::Title-->
	<h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
		{% block page_title %}{% endblock %}
	</h1>
	<!--end::Title-->
	<!--begin::Breadcrumb-->
	<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
		<!--begin::Item-->
		<li class="breadcrumb-item text-muted">
			<a href="{{ path('admin_dashboard') }}" class="text-muted text-hover-primary">Ana Sayfa</a>
		</li>
		<!--end::Item-->
		{% block breadcrumb %}{% endblock %}
	</ul>
	<!--end::Breadcrumb-->
</div>
<!--end::Page title-->
