body {
    background-color: lightgray;
}

/* Sticky header white background */
#kt_app_header[data-kt-sticky="true"] {
    background-color: #ffffff !important;
    box-shadow: 0px 10px 30px 0px rgba(82,63,105,0.05);
}

#kt_app_header {
    transition: background-color 0.3s ease;
}
